.charmain {
    display: flex;
}

.charmain_img {
    width: 50%;
}

.charmain_text {
    width: 50%;
    color: #063f5c;
}

.charmain_name_ja {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.charmain_catch {
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
}

.recommended_video_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.recommended_video_list iframe {
    aspect-ratio: 16 / 9;
}