{% extends 'base_login.html' %}
{% load static %}

{% block title %}
<title>お気に入りVtuber詳細 | Favorite Vtuber</title>
{% endblock title %}

{% block cutomcss %}
<link rel="stylesheet" href="{% static '/css/detail-character.css' %}">
{% endblock cutomcss %}

{% block content %}

<body class="text-center">
    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal">お気に入りVtuber詳細</h1>
        <div class="charmain">
            <p class="charmain_img"><img src="{% static '/images/' %}{{ mVtuber.vtuber.image_filename }}"></p>
            <div class="charmain_text">
                <p class="charmain_name_ja">{{ mVtuber.vtuber.name_ja }}</p>
                {% if mVtuber.vtuber.name_en %}
                <p class="charmain_name_en">{{ mVtuber.vtuber.name_en }}</p>
                {% endif %}

                {% if mVtuber.vtuber.catch_text %}
                <p class="charmain_catch">{{ mVtuber.vtuber.catch_text }}</p>
                {% endif %}

                {% if mVtuber.vtuber.introduction_video_url %}
                {% if is_video %}
                <video width="100%" controls autoplay loop>
                    <source src="{{ mVtuber.vtuber.introduction_video_url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                {% else %}
                <img width="100%" src="{{ mVtuber.vtuber.introduction_video_url }}" alt="Vtuber Introduction Video">
                {% endif %}
                {% endif %}

                <div class="btn-toolbar d-flex justify-content-center mt-4" role="toolbar"
                    aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a href="{{ mVtuber.vtuber.youtube_url }}" class="btn btn-success" target="_blank">Youtube</a>
                    </div>
                    <div class="btn-group" role="group" aria-label="Second group">
                        <a href="{{ mVtuber.vtuber.twitter_url }}" class="btn btn-info" target="_blank">Twitter</a>
                    </div>
                </div>
            </div>
        </div>

        {% if mVtuber.vtuber.recommended_video1 %}
        <div class="recommended_videos">
            <h2 class="h3 mb-3 font-weight-normal">Recommended Videos</h2>
            <ul class="recommended_video_list">
                {% if mVtuber.vtuber.recommended_video1 %}
                <li>
                    <a href="{{mVtuber.vtuber.recommended_video1}}" target="_blank">
                        <img src="{{thumbnails.0 }}">
                    </a>
                </li>
                {% endif %}

                {% if mVtuber.vtuber.recommended_video2 %}
                <li>
                    <a href="{{mVtuber.vtuber.recommended_video2}}" target="_blank">
                        <img src="{{thumbnails.1 }}">
                    </a>
                </li>
                {% endif %}

                {% if mVtuber.vtuber.recommended_video3 %}
                <li>
                    <a href="{{mVtuber.vtuber.recommended_video3}}" target="_blank">
                        <img src="{{thumbnails.2 }}">
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}

        <div class="databox">
            <h2 class="h3 mb-3 font-weight-normal">Data</h2>
            <ul>
                {% for mVtubersProfile in mVtubersProfiles %}
                <li>
                    <dl>
                        <dt>{{ mVtubersProfile.title }}：</dt>
                        <dd>{{ mVtubersProfile.content | safe }}</dd>
                    </dl>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="btn-toolbar d-flex justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a href="{% url 'top' %}" class="btn btn-secondary">トップへ</a>
            </div>
        </div>
    </div>
</body>
{% endblock content %}