{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>ログイン | Favorite Vtuber</title>
{% endblock title %}

{% block cutomcss %}
<link rel="stylesheet" href="{% static '/css/signup.css' %}">
{% endblock cutomcss %}

{% block content %}

<body class="text-center">
    <h1 class="h3 mb-3 font-weight-normal">ログイン</h1>
    <p>アカウント未登録の場合は<a href="{% url 'signup' %}">こちら</a>登録をお願いします。</p>
    <form class="form-signin" method="POST">{% csrf_token %}
        <label for="inputUserName" class="sr-only">User Name</label>
        <input type="text" id="inputUserName" class="form-control" placeholder="User Name" name="username" required
            autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
        <p class="error">{{ error }}</p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
    </form>
</body>
{% endblock content %}