.container {
    text-align: center;
}

#character_top img {
    width: 50%;
}

#character_top #character_name span {
    display: block;
    font-size: 1.0rem;
}

#character_data dl {
    border: 1px solid #000;
    display: flex;
}

#character_data dt {
    border-right: 1px solid #000;
}